# Author:  Artem Butusov <art.sormy@gmail.com>
# License: MIT
# Version: 1.0.4
# https://github.com/sormy/ec2-init

[Unit]
Description=EC2 Init
After=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10s

ExecStartPre=/usr/sbin/ec2-init
ExecStart=/usr/bin/true

StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
